
<div class="row">
  <div class="col-xs-12">
  <h4>Book List</h4>
  <a *ngFor="let book of books" 
    [class.selected]="book === selectedBook"
    (click)="onSelect(book)"
    class="">
    <div class="col-xs-4">
      <span class="label label-primary">{{book.name}}, ID: {{book.id}}</span>
    </div>
  </a>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
  <h4>Book Add</h4>
  <div class="well">
    <div>
       <label>Id: </label>
       <input [(ngModel)]="book.id" />
    </div>
    <div>
       <label>Name: </label>
       <input [(ngModel)]="book.name" />
    </div>
    <div>
       <button (click)="addBook()">Add</button>
    </div>
  </div>
  </div>
</div>

<div *ngIf="bookName" [ngClass] = "'success'"> {{bookName}} Added. </div>
<div *ngIf="errorMessage" [ngClass] = "'error'"> {{errorMessage}} </div> 

<div *ngIf="selectedBook">
  <h2>
    {{selectedBook.name | uppercase}} is my book
  </h2>
  <button (click)="gotoInfo()">View Book Info</button>
</div>